body {
    background-color: #d5f4e6 ;
}
h1 {
    font-family: Georgia;
    color: #80ced6
}
.friends, p {
    text-transform: uppercase;
    font-family: Verdana;
    color: bisque;
    font-size: medium;
}